-links = [{"name" => "Home", "route" => "/"},{"name" => "About", "route" => "/about"},{"name" => "F.A.Q", "route" => "/faq"},{"name" => "People", "route" => "/people"}]

%ul#nav-main.nav
  - links.each do |link|
    %li.nav-link
      %a{:href => link["route"]} #{link["name"]}
